<header>
    <h1>Zenless Zone Zero Guide Site</h1>
    <nav>
        <!-- Link back to the main ITIS-3135 site -->
        <a href="../index.html">ITIS-3135 Site</a>
        
        <!-- Links to client project pages -->
        <a href="index.html">Home</a>
        <a href="combat_skills.html">Combat Skills Planner</a>
        <a href="core_skills.html">Core Skills Planner</a>
        <a href="character_slider.html">Character Slider</a>
        <a href="tutorials.html">Tutorials</a>
        <a href="bosses.html">Bosses</a>
    </nav>
</header>
