<h1>Andrew Schmal's Acclaimed Squid 🦑</h1>
<h2>ITIS-3135 Home Page</h2>
<nav>
    <a class="my-links" href="index.html">Home</a>
    <a class="my-links" href="introduction.html">Introduction</a>
    <a class="my-links" href="contract.html">Contract</a>
    <a class="my-links" href="about.html">Company - About Page</a>
    <a class="my-links" href="review1.html">Peer Review 1</a>
    <a class="my-links" href="review2.html">Peer Review 2</a>
    <a class="my-links" href="project_overview.html">Project Overview</a>
    <a class="my-links" href="client_project/index.html">Client Project</a>
</nav>

<!-- Activities to go back n finish lol (im so sorry for what I am) -->
<nav>
    <a class="my-links" href="tables.html">Tables</a>
    <a class="my-links" href="forms.html">Forms</a>
    <a class="my-links" href="firstscripts.html">1st Scripts</a>
    <a class="my-links" href="byo_intro.html">BYO Intro</a>
    <a class="my-links" href="drawing.html">Drawing</a>
    <a class="my-links" href="json_menus.html">Menus</a>
    <a class="my-links" href="slideshow.html">Gallery</a>
</nav>
<nav>
    <a class="my-links" href="stuff/S qUiDgAmEz💯😩🗣️🔥🇲.htm">Crappy</a>    <a class="my-links" href="./hobby/">Hobby</a>
    <!-- <a class="my-links" href="emmet.html">EMMET</a> -->
</nav>